[project]
name = "python-project-template"
version = "0.1.0"
description = "A Python project starter template with pre-configured tools"
authors = [{ name = "NKTKLN", email = "nktkln@nktkln.com" }]
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy (>=2.3.1,<3.0.0)",
    "scikit-learn (>=1.7.0,<2.0.0)",
    "matplotlib (>=3.10.3,<4.0.0)",
    "seaborn (>=0.13.2,<0.14.0)",
    "colorama (>=0.4.6,<0.5.0)",
    "tqdm (>=4.67.1,<5.0.0)",
    "ipywidgets (>=8.1.7,<9.0.0)",
    "jupyterlab-widgets (>=3.0.15,<4.0.0)",
    "iprogress (>=0.4,<0.5)",
    "xgboost (>=3.0.2,<4.0.0)",
    "catboost (>=1.2.8,<2.0.0)",
    "lightgbm (>=4.6.0,<5.0.0)",
    "pandas (>=2.3.1,<3.0.0)",
    "plotly (>=6.2.0,<7.0.0)",
    "nbformat (>=5.10.4,<6.0.0)",
    "scikit-optimize (>=0.10.2,<0.11.0)",
    "optuna (>=4.4.0,<5.0.0)",
    "hyperopt (>=0.2.7,<0.3.0)",
    "setuptools (>=80.9.0,<81.0.0)",
    "optuna-integration[xgboost] (>=4.4.0,<5.0.0)",
]

[dependency-groups]
dev = [
  "ruff>=0.15.1",
  "mypy>=1.19.1",
  "pre-commit>=4.5.1",
  "pytest>=9.0.2",
  "pytest-cov>=7.0.0",
  "coverage>=7.13.4",
  "pip-audit>=2.10.0",
  "deptry>=0.24.0",
  "commitizen>=4.13.7",
]

[tool.ruff]
line-length = 88
target-version = "py313"
extend-include = ["*.ipynb"]
exclude = [".git", "__pycache__", "build", "dist", ".venv", "tmp"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
docstring-code-format = true
docstring-code-line-length = "dynamic"

[tool.ruff.lint]
select = ["E", "W", "F", "I", "D", "B", "B9", "C90", "S", "UP", "SIM", "TRY", "PL", "RUF", "ARG", "PTH"]
ignore = ["E203", "D100", "RUF002", "PLR2004", "PLR0913", "TRY003"]
fixable = ["ALL"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.per-file-ignores]
"tests/**.py" = ["S101", "D", "PLR2004"]  # assert, docstrings, magic values in tests
"**/*.ipynb" = ["T201"]                   # print

[tool.mypy]
mypy_path = ["src"]
files = ["src", "tests"]
python_version = "3.13"
warn_return_any = true
warn_unused_ignores = true
warn_redundant_casts = true
warn_unreachable = true
show_error_codes = true
pretty = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_any_unimported = true
no_implicit_optional = true
strict_optional = true
disallow_untyped_calls = true
exclude = [".git", "__pycache__", "build", "dist", ".venv", "tmp"]

[tool.coverage.run]
branch = true
source = ["app"]
parallel = true

[tool.coverage.report]
show_missing = true
skip_covered = true
fail_under = 90

[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "$version"
version_scheme = "pep440"
version_provider = "pep621"
update_changelog_on_bump = true
major_version_zero = true
